@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

html,
body {
  height: 100%;
}

.loader {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(74, 75, 74);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100% !important;
}

.loader-message {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #2f73a3;
}

.spinner {
  --d: 24.6px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  color: #cacbca;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1.1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2.2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3.4px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4.5px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5.6px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6.7px;
  animation: spinner-a90wxe 1s infinite steps(8);
}

@keyframes spinner-a90wxe {
  100% {
    transform: rotate(1turn);
  }
}



.my-border {
  border-width: 2px !important;
  border-color: #454fec !important;
  border-top-width: 2px !important;
  border-top-color: #454fec !important;
  border-bottom-width: 2px !important;
  border-bottom-color: #9e0bf3 !important;
  box-sizing: border-box !important;
}

.my-input {
  @apply dark:bg-[#2B2B2C] !important;
  @apply dark:text-white !important;
  border: 1px solid #cacbca !important;
}

.my-input:focus {
  border-width: 2px !important;
  border-color: #454fec !important;
  border-top-width: 2px !important;
  border-top-color: #454fec !important;
  border-bottom-width: 2px !important;
  border-bottom-color: #9e0bf3 !important;
  box-sizing: border-box !important;
  padding-left: 0.75rem !important;
}

.my-text {
  background: #454fec;
  background: -webkit-linear-gradient(38deg, #454fec 0%, #9e0bf3 100%);
  background: linear-gradient(38deg, #454fec 0%, #9e0bf3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.button-google {
  border-width: 2px !important;
  border-color: #454fec !important;
  border-top-width: 2px !important;
  border-top-color: #454fec !important;
  border-bottom-width: 2px !important;
  border-bottom-color: #9e0bf3 !important;
  box-sizing: border-box !important;
  padding-left: 0.75rem !important;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffffff;
  opacity: 1;
  width: 40px !important;
  height: 5px;
  border-radius: 10px;
}

/* target all bullets */
.swiper-pagination-bullet {
  background: #ffffff !important;
  width: 20px !important;
  height: 5px !important;
  border-radius: 10px !important;
}

/* .dropzone {
  border: 5px dashed rgb(117, 112, 112);
} */

/* video js here */
.my-video-js {
  position: relative !important;
  width: 100% !important;
  height: 60vh !important;
  border-radius: 10px !important;
}

.vjs-control-bar {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}


/* end video js here */

/* timeline audio editor here */
.timeline-editor-engine {
  background: #ffffff !important;
  width: 100%;
  overflow-y: auto !important;
  overflow-x: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #D1D5DB #ffffff;
  scrollbar-width: thin;
  scroll-behavior: smooth;
 

  .player-panel {
    width: 100%;
    
    /* 
    .lottie-ani {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    } */
  }

  .ReactVirtualized__Grid{
    overflow: hidden !important;
  }
  
  .timeline-editor {
    width: auto !important;
    height: 100%;
    /* overflow-x: auto !important;
    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background: #9CA3A3;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
      border-radius: 10px;
    } */
    /* background: #ffffff !important; */

    /* .timeline-editor-edit-area{
      overflow-x: hidden !important;
    } */

    .timeline-editor-time-unit-scale {
      color: #9CA3A3 !important;
    }

    .timeline-editor-time-unit {
      @apply dark:border-white !important;
      border-right: 1px solid #9CA3A3 !important;
    }

    .timeline-editor-edit-row {
      /* @apply dark:bg-gradient-to-t from-[#fff] via-[#fff] to-[#fff] !important; */
      padding: 0 !important;
      background-repeat: no-repeat, repeat !important;
      background-image: linear-gradient(transparent, transparent),
        linear-gradient(90deg, #9CA3A3 1px, transparent 0) !important;
      
      /* background-image: linear-gradient(#333333, #333333),
        linear-gradient(90deg, #333333 1px, transparent 0) !important; */
      /* display: flex;
      flex-direction: row;
      box-sizing: border-box; */
    }

    .timeline-editor-action {
      background: #bc48ff;
      background: -webkit-linear-gradient(0deg, #bc48ff 0%, #474bff 100%);
      background: linear-gradient(0deg, #bc48ff 0%, #474bff 100%);
      border-radius: 4px;
      cursor: pointer;
      color: #fff !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* &-action {
      height: 28px !important;
      top: 50%;
      transform: translateY(-50%);
    }

    &-action {
      border-radius: 4px;
      &-effect-effect0 {
        background-color: #cd9541;
        background-image: url("/assets/soundWave.png");
      }

      &-effect-effect1 {
        background-color: #7846a7;
      }

      &-effect-effect0,
      &-effect-effect1 {
        cursor: pointer;

        background-position: bottom;
        background-repeat: repeat-x;

        .effect0,
        .effect1 {
          width: 100%;
          height: 100%;
          font-size: 10px;
          color: #fff;
          border-radius: 4px;
          display: flex;
          flex-direction: row;
          align-items: center;

          &-text {
            margin-left: 4px;
            flex: 1 1 auto;
            text-align: center;
            display: flex;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
          }
        }

        .timeline-editor-action-left-stretch {
          &::after {
            border-left: 7px solid fade(#fff, 40);
          }
        }

        .timeline-editor-action-right-stretch {
          &::after {
            border-right: 7px solid fade(#fff, 40);
          }
        }
      }
    } */
  }

  /* .timeline-player {
    height: 32px;
    width: 100%;
    max-width: 800px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3a3a3a;
    color: #ddd;

    .play-control {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      display: flex;
      background-color: #666;
      justify-content: center;
      align-items: center;
    }

    .time {
      font-size: 12px;
      margin: 0 20px;
      width: 70px;
    }

    .rate-control {
      justify-self: flex-end;

      .ant-select {
        width: 90px !important;
  
        .ant-select-selector {
          border: none;
          box-shadow: none !important;
          background-color: transparent;
          color: #ddd;
  
          .ant-select-selection-item {
            font-size: 12px;
            display: flex;
            justify-content: center;
          }
        }
  
        &-arrow {
          color: #ddd;
        }
      
      }
    }
  } */
}
div.swiper-remix > .swiper-wrapper {
  flex-direction: unset;
  flex-wrap: wrap;
}

/* end timeline audio editor here */
