@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}


.loader {
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(74, 75, 74);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-message {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #2f73a3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.spinner {
  --d: 24.6px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  color: #cacbca;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1.1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2.2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3.4px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4.5px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5.6px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6.7px;
  animation: spinner-a90wxe 1s infinite steps(8);
}

@keyframes spinner-a90wxe {
  100% {
    transform: rotate(1turn);
  }
}

.my-border {
  border-width: 2px !important;
  border-color: #454fec !important;
  border-top-width: 2px !important;
  border-top-color: #454fec !important;
  border-bottom-width: 2px !important;
  border-bottom-color: #9e0bf3 !important;
  box-sizing: border-box !important;
}

.my-input {
  border: 1px solid #cacbca !important;
}

.my-input:focus {
  border-width: 2px !important;
  border-color: #454fec !important;
  border-top-width: 2px !important;
  border-top-color: #454fec !important;
  border-bottom-width: 2px !important;
  border-bottom-color: #9e0bf3 !important;
  box-sizing: border-box !important;
  padding-left: 0.75rem !important;
}

.my-text {
  background: #454fec;
  background: -webkit-linear-gradient(38deg, #454fec 0%, #9e0bf3 100%);
  background: linear-gradient(38deg, #454fec 0%, #9e0bf3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.button-google {
  border-width: 2px !important;
  border-color: #454fec !important;
  border-top-width: 2px !important;
  border-top-color: #454fec !important;
  border-bottom-width: 2px !important;
  border-bottom-color: #9e0bf3 !important;
  box-sizing: border-box !important;
  padding-left: 0.75rem !important;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffffff;
  opacity: 1;
  width: 40px !important;
  height: 5px;
  border-radius: 10px;
}

/* target all bullets */
.swiper-pagination-bullet {
  background: #ffffff !important;
  width: 20px !important;
  height: 5px !important;
  border-radius: 10px !important;
}

/* .dropzone {
  border: 5px dashed rgb(117, 112, 112);
} */